<div class="well">
  <code>Server status: </code> <i class="fa fa-signal" aria-hidden="true" [ngStyle]="{'color': getColor()}"></i> <br>
  <code>Erreur: {{ socket_service.error }}</code>

  <hr>

  <code>Config: </code> <br>
  <code>{{ toJson(config) }}</code>
</div>

<div class="row form-group">
  <div class="col-md-12">
    <button (click)="run()" class="btn btn-success">Run</button>
    <button (click)="map_service.resetMarkers();" class="btn btn-danger">Reset</button>
  </div>
</div>

<sebm-google-map *ngIf="config"
(mapClick)="map_service.addMarker('waypoints', $event)"
[latitude]="normalize(map_service.lat)"
[longitude]="normalize(map_service.lng)"
(centerChange)="updateCoords($event)"
[zoom]="config.zoom">
    <span *ngFor="let k of map_service.getMarkersKeys()">
      <sebm-google-map-marker *ngFor="let m of map_service.markers[k]; let i = index;"
      (markerClick)="map_service.removeMarker(k, i, 'iterable')"
      [latitude]="m?.lat"
      [longitude]="m?.lng"
      [iconUrl]="m?.iconUrl"></sebm-google-map-marker>
    </span>
</sebm-google-map>

<div class="well">
  <code>Waypoints :</code>
  <code>{{ toJson(map_service.markers) }}</code>
</div>

<error-modal>
  <mcontent *ngIf="config">
    <form class="form">
      <div *ngFor="let k of config | keys" class="form-group">
        <label [attr.for]="k.key">{{ k.key }}</label>
        <input *ngIf="!isObject(k.value)" class="form-control" type="text" [id]="k.key" [value]="config[k.key]" (input)="config[k.key] = $event.target.value">

        <div *ngIf="isObject(k.value)" class="form-group">
          <div *ngFor="let entry of config[k.key] | keys" class="form-group">
            <label [attr.for]="entry.key">{{ entry.key }}</label>
            <input class="form-control" type="text" [value]="config[k.key][entry.key]" (input)="config[k.key][entry.key] = $event.target.value">
          </div>
        </div>
      </div>
    </form>
  </mcontent>
</error-modal>
